body {
    font-family: 'Work Sans', sans-serif;
    background-color: #eee;

}

.image {
 background-color: #1ECEFD;
 height: 300px;
 width: 400px;
 border-radius: 15px 15px 0px 0px;
 margin-left: 530px;
 margin-top: 70px;
 box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}

.form {
    margin-top: -22px;
    background-color: rgba(250, 248, 248, 0.925);
    height: 300px;
    width: 400px;
    border-radius: 0px 0px 15px 15px ;
    margin-left: 530px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}

img{
    width: 280px;
    border-radius: 15px;
    margin-top: 45px;
    transform: rotate(90deg);
    margin-left: 50px;
}


h1 {
    font-family: 'Work Sans', sans-serif;
    padding-left: 25px;
    padding-top: 30px;
}

.contact {
    font-family: 'Work Sans', sans-serif;
    color: rgb(187, 186, 186);
    padding-left: 25px;
    margin-top: -18px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;

}

.edit {
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    background-color: #505355;
    color: white;
    font-weight: 380;
    font-size: 20px;
    margin-left: 20px;
}

.edit:hover {
    background-color: #5BECD8;
    transition:.5s;
}

form {
    background-color: rgba(250, 248, 248, 0.925);
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    width: 400px;
    margin-left: 530px;
    border-radius: 15px;
    margin-top: 70px;
    height: 600px;
}

.first {
    font-size: 20px;
    margin-bottom: 40px;
    color: #505355;
}

.title {
    color: #1ECEFD;
    padding-left: 25px;
    font-weight: bold;
}

input {
    padding: 14px;
    border-radius: 25px;
    border: 1px solid black;
    width: 80%;
    margin-left: 30px;
}

.update {
    width: 90%;
    padding: 5px;
    background-color: #505355;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 130px;
}

.update:hover {
    background-color: #5BECD8;
    transition:.5s;
}

input::placeholder {
    color: black;
    font-size: 13px;
}